.bar-block {
    background-color: #60AAFF;
    color: white;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20px;
    bottom: 0;
    position: absolute;
}

.bar-label {
    width: 50px;
    text-align: right;
}

.myfigure {
    width: 200px;
    height: 300px;
    position: relative;
}

.circle{
    background-color: red;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}