.bar-block {
    background-color: #60AAFF;
    color: white;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 4px;
}

.bar-label {
    width: 50px;
    text-align: right;
}